@mixin reset-ul() {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin container() {
  display: flex;
  width: 100%;
}
