$color-main: #6D71F9;

/* ------------------------------------------------ */

$font-main: "Montserrat", "Roboto", sans-serif;
/* ------------------------------------------------ */

$mobile-width: "min-width: 576px";
$tablet-width: "min-width: 768px";
$desktop-width: "min-width: 1200px";
$med-desktop-width: "min-width: 1919px";
$big-desktop-width: "min-width: 1920px";

/* ------------------------------------------------ */

$retina: "min-resolution: 144dpi";
$retina2: "min-resolution: 1.5dppx";
