.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;

  &__wrapper {
    @include container;
    justify-content: center;
    margin-top: 40px;
  }

  &__contact {
    width: 38px;
    height: 38px;
    margin-right: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    transition-duration: 0.2s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: 1;
    }

    &--upwork {
      background-image: url(../img/upwork.svg);
    }

    &--telegramm {
      background-image: url(../img/telegramm.svg);
    }

    &--skype {
      background-image: url(../img/skype.svg);
    }

    &--github {
      background-image: url(../img/github.svg);
    }

    &--mail {
      background-image: url(../img/mail.svg);
    }
  }
}

@media ($tablet-width) {
  .footer {
    &__wrapper {
      justify-content: flex-start;
      margin-top: 40px;
      padding-left: 0;
    }
  }
}

@media ($desktop-width) {
  .footer {
    &__wrapper {
      padding-left: 30px;
      margin-bottom: 10px;
    }
  }
}

@media ($med-desktop-width) {
  .footer {
    &__wrapper {
      margin-top: 60px;
    }
  }
}
