.manager {
  background-color: #34383B;
  width: 100%;
  min-height: 100vh;

  &__wrapper {
    padding: 30px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 2;
  }

  &__folder {
    max-width: 300px;
    min-height: 230px;
    background: #292F33;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid transparent;
    transition-duration: 0.2s;
    cursor: pointer;
    width: 100%;
    margin-bottom: 30px;
    max-width: 260px;
    text-decoration: none;

    &:hover {
      border-color: $color-main;
    }

    &_name {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #06082E;
      background-color: #fff;
      min-height: 48px;
      margin: 0;
      text-align: center;
      padding: 12px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &_img {
      min-height: 182px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        display: block;
      }
    }
  }

  &__form {
    form {
      display: flex;
      flex-wrap: wrap;
    }
    input {
      background: #EBECFE;
      border-radius: 5px;
      min-height: 50px;
      border: 0;
      width: 100%;
      padding: 5px 15px;
      margin-bottom: 10px;
    }

    button {
      background-color: $color-main;
      border: 0;
      width: 100%;
      border-radius: 5px;
      min-height: 50px;
      border: 2px solid transparent;
      transition-duration: 0.2s;

      &:hover {
        border-color: #fff;
      }
    }
  }
}

@media ($mobile-width) {
  .manager {
    &__content {
      max-width: 510px;
      margin-left: auto;
      margin-right: auto;
      justify-content: flex-start;
    }

    &__folder {
      max-width: 240px;
      min-height: 230px;
      background: #292F33;
      box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 2px solid transparent;
      transition-duration: 0.2s;
      cursor: pointer;
      width: 100%;
      margin-bottom: 30px;
      margin-right: 30px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    &__form {
      max-width: 510px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
@media ($tablet-width) {
  .manager {
    &__content {
      max-width: 660px;
      margin-left: auto;
      margin-right: auto;
    }

    &__folder {
      max-width: 200px;
      display: flex;
      flex-direction: column;
      margin-right: 30px;

      &:nth-child(2n) {
        margin-right: 30px;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    &__form {
      max-width: 660px;

      form {
        justify-content: space-between;
      }

      input {
        width: 80%;
        margin-bottom: 0;
      }

      button {
        width: 19%;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}
@media ($desktop-width) {
  .manager {

    &::after {
      content: 'M';
      font-weight: 900;
      font-size: 500px;
      line-height: 509px;
      color: rgba(255, 255, 255, 0.05);
      display: block;
      position: absolute;
      width: 100%;
      top: calc(50% - 250px);
      text-align: center;
      z-index: 1;
    }
    &__content {
      max-width: 1160px;
      margin-left: auto;
      margin-right: auto;
    }

    &__folder {
      max-width: 260px;
      display: flex;
      flex-direction: column;
      margin-right: 30px;

      &:nth-child(4n) {
        margin-right: 0;
      }

      &:nth-child(3n) {
        margin-right: 30px;
      }
    }

    &__form {
      max-width: 1160px;
      padding-right: 30px;
    }
  }
}
@media ($big-desktop-width) {
  .manager {
    &__content {
      max-width: 1630px;
      margin-left: auto;
      margin-right: auto;
    }

    &__folder {
      max-width: 300px;
      display: flex;
      flex-direction: column;
      margin-right: 35px;

      &:nth-child(5n) {
        margin-right: 0;
      }

      &:nth-child(4n) {
        margin-right: 30px;
      }
    }

    &__form {
      max-width: 1630px;
      padding-right: 0;
    }
  }
}
