.slider {
  max-width: 980px;

  &__container {
    max-width: 920px;
    overflow: hidden;
  }

  &__title {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }

  &__slide {
    box-shadow: 0px 1px 20px rgba(80, 80, 196, 0.1);
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 112px;
    height: 80px;
    margin: 0 7px;
  }
}
.slick-list {
  margin-right: -7px;
  margin-left: -7px;
}

@media ($tablet-width) {
  .slider {
    &__slide {
      height: 90px;
    }
  }
}

@media ($desktop-width) {
  .slider {
    &__wrapper {
      display: flex;
      align-items: center;
    }

    &__title {
      font-size: 20px;
      line-height: 22px;
      margin-left: 30px;
    }

    &__container {
      width: calc(100% - 60px);
    }

    &__slide {
      width: 100%;
      max-width: 200px;
      height: 90px;
      margin: 0 10px;
    }

    &__arrow {
      width: 17px;
      height: 34px;
      background-image: url('../img/arrow.svg');
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;

      &--left {
        margin-right: 13px;
      }

      &--right {
        margin-left: 13px;
        transform: rotate(180deg);
      }
    }
  }
  .slick-list {
    margin-right: -8px;
    margin-left: -8px;
  }
}

@media ($med-desktop-width) {
  .slider {
    &__slide {
      height: 95px;
    }
  }
}

@media ($big-desktop-width) {
  .slider {
    &__slide {
      width: 200px;
      height: 130px;
      margin: 0 20px;
    }
  }

  .slick-list {
    margin-right: -18px;
    margin-left: -18px;
  }
}
